.main-banner-carousel {
  width: 100%;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 400px;
}

.main-banner-carousel .carousel-item {
  height: 400px;
  overflow: hidden;
  position: relative;
}


.main-banner-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  display: block;
}

.main-banner-carousel .carousel-control-prev {
  left: 10px;
}

.main-banner-carousel .carousel-control-next {
  right: 10px;
}

